# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst


# Jekyll
_site/

# Jekyll configuration files
.sass-cache/
.jekyll-metadata

# Dependency directories
vendor/

# Bundler
.bundle/

# Node modules (if you're using Node.js for frontend)
node_modules/

# MacOS system files
.DS_Store

# Thumbnails
Thumbs.db

# IDE/editor specific files
.idea/
.vscode/

# Logs
*.log

# Temporary files
*.swp
*.swo
*.bak
