---
layout: default
---

<!-- Page Header -->
{% if page.title %}
{% if page.description %}
<header class="content-header">
  {% if page.title %}
  <h1 class="title">{{ page.title }}</h1>
  {% endif %}
  {% if page.description %}
  <span class="subtitle">{{ page.description }}</span>
  {% endif %}
</header>

{% endif %} 
{% endif %}

<div class="content">
  <div class="main-content">
  {{ content }}
  </div>
</div>

{% if page.background %}
  <div class="content">
    <div class="content-header-image-container">
      <img src="{{ page.background | prepend: site.baseurl | replace: '//' , '/' }}" alt="Header Image" class="content-header-image">
    </div>
  </div>
{% endif %}