---
layout: default
---

<!-- Page Header -->
{% if page.title %}
{% if page.description %}
<div class="content">
{% endif %} 
{% endif %}
  <header class="content-header">
    {% if page.title %}
    <h1 class="title">{{ page.title }}</h1>
    {% endif %}
    {% if page.description %}
    <span class="subtitle">{{ page.description }}</span>
    {% endif %}
  </header>
  {% if page.title %}
  {% if page.description %}
</div>
  {% endif %} 
  {% endif %}

<div class="content">
  <div class="main-content">
  {{ content }}
  </div>
</div>

{% if page.background %}
  <div class="content">
    <div class="content-header-image-container">
      <img src="{{ page.background | prepend: site.baseurl | replace: '//' , '/' }}" alt="Header Image" class="content-header-image">
    </div>
  </div>
{% endif %}

<style>
  .content-header-image {
  margin-top: 2rem;
  width: 100%;       /* or any fixed size you prefer */
  height: auto;      /* make sure the height equals the width */
  border-radius: 5%; /* creates the circular shape */
  object-fit: cover;  /* ensures the image fills the container */
}

</style>
